
@media (max-width:600px) {
    /* .about
   {
       margin-top: 70px;
   } */

   .about h1
   {
    margin-bottom: 20px;
    margin-top: 150px;
   }

   .about h5
   {
    margin-bottom: 30px;
   }

}